@use "sass:list";
@use '../../../../variables.scss';

.calendar-heatmap {
  $calendar-bucket-colors: (
    variables.$chart-blue-light, variables.$chart-green, variables.$chart-brown,
    variables.$chart-yellow, variables.$chart-orange, variables.$chart-red
  );

  @for $i from 1 through list.length($calendar-bucket-colors) {
    .color-bucket-#{$i - 1} { fill: list.nth($calendar-bucket-colors, $i); }
  }

  .color-empty {
    fill: rgba(0, 0, 0, .15);
  }

  .react-calendar-heatmap {
    margin-top: 10px;

    text {
      font-size: 10px;
      fill: #FFF;
    }

    .react-calendar-heatmap-small-text {
      font-size: 5px;
    }
  }

  &.vertical {
    .react-calendar-heatmap {
      width: 140px;
      height: 800px;
    }
  }

  &.high-contrast {
    .color-empty {
      fill: rgba(0, 0, 0, .15);
    }
  }
}
