@use '../../theme.scss';
@use "../../mixins";
@use "../../variables";

.past-duration-selector {
  .dropdown-trigger {
    line-height: 24px;

    .button.is-outlined {
      @include mixins.invert-on-hover(variables.$grey-light, variables.$white);
      font-weight: variables.$weight-normal;

      .dropdown-indicator {
        height: 10px;
        width: 10px;
        position: relative;
        margin-left: 0.5em;
        bottom: 2px;
      }
    }
  }

  .dropdown-item {
    font-weight: variables.$weight-normal;
  }
}
