@use '../../variables.scss';

.active-task-details .task-status {
  margin: 25px 0;
  padding-bottom: 25px;
  box-sizing: border-box;

  .active-task-details--sub-heading {
    background-color: variables.$blue;
    color: variables.$white;
    border-radius: variables.$radius-medium variables.$radius-medium 0 0;
    padding: 10px 15px;
    margin-bottom: 0;
  }

  svg {
    height: 18px;
    width: auto;
    fill: variables.$grey-dark;
    margin-right: 7px;
    vertical-align: text-top;
  }

  .task-status__prompt {
    font-weight: variables.$weight-medium;
  }

  .task-status__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(variables.$blue, 0.33);
    border-radius: 0 0 variables.$radius-medium variables.$radius-medium;
    border-top: none;
    padding: 10px 15px;
    font-weight: variables.$weight-semibold;
    color: variables.$grey;
  }

  .task-status__view-changeset-link {
    font-weight: variables.$weight-normal;
    font-size: variables.$size-7;
  }

  &.icon-only {
    .control-icon svg {
      fill: variables.$yellow;
    }
  }
}

.is-minimized .button.task-status {
  margin: 0px;
  margin-bottom: 15px;
  padding-bottom: 0;
}

.popout-content__body .task-status__label {
  color: variables.$grey;
}
