@use '../../variables.scss';

.congratulate-modal {
  .modal-content {
    padding: 15px;
    min-height: 200px;
    border-radius: variables.$radius-medium;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 300px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: variables.$size-5;
    color: variables.$green;

    h2 {
      font-size: variables.$size-3;
      font-weight: variables.$weight-bold;
      margin-top: 8px;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__trophy {
      fill: variables.$yellow;
      width: 48px;
      height: auto;
    }
  }

  &__dismiss-control.button.is-outlined {
    margin-top: 40px;
    font-size: variables.$size-6;
    font-weight: variables.$weight-normal;
    padding: 0px 30px;
    height: 40px;
    width: 200px;
  }

  &__confetti {
    z-index: 9999;
  }

  &__close-control.has-svg-icon {
    position: absolute;
    top: 15px;
    right: 15px;

    svg {
      fill: variables.$grey-light;
      height: 20px;
      width: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
