@use '../../../../variables.scss';

.admin__manage__managed-item-list.project-list {
  font-size: variables.$size-5;
  margin: 0px 20px 0 0;
  display: flex;
  flex-wrap: wrap;

  &.compact-view {
    flex-direction: column;
    flex-wrap: no-wrap;
  }

  .project-list__favorites {
    display: flex;
    flex-wrap: wrap;
  }

  .project-list__heading {
    color: variables.$green;
    margin-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid variables.$grey-lightest-less;

    h2 {
      font-weight: variables.$weight-semibold;
    }
  }

  .columns {
    margin-left: 0;
    margin-right: 0;
  }

  svg.icon {
    height: 15px;
    width: auto;
  }

  .column.edit-control {
    font-size: variables.$size-7;
    font-weight: variables.$weight-normal;
  }

  .project-list-item {
    align-items: center;

    &:not(:last-child) {
      border-bottom: none;
    }

    &__project-name {
      color: variables.$primary
    }
  }

  .after-results {
    width: 100%;
    text-align: center;
  }
}
