@use 'variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.loading {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: variables.$green;
  color: variables.$white;

  svg {
    fill: variables.$white;
  }

  h1.title {
    color: variables.$white;
  }

  &__content {
    flex: auto;
  }
}
